body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    position: relative;
}
header{
    display: flex;
    justify-content: center;
    background-color: black;
}
header h1{
    margin: 0;
    font-size: 30px;
    color: white;
}
.jodan{
    display: flex;
    margin: 0;
    padding: 0;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sisoku{
    width: 50%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 1% 0%;
}
.sisokuBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 5%;
    background-color: cornflowerblue;
    width: 80%;
    margin: auto;
    border-radius: 25px;
}
.sisokuBox input{
    margin:1%;
    height: 25%;
    width: 60%;
    font-size: 20px;
}
.sisokuBox select{
    margin:1%;
    height: 10%;
    width: 10%;
    font-size: 25px;
}
.inputBox{
    display: flex;
    justify-content: center;
}
.result{
    float: right;
}
.result h1{
    margin: 0;
    padding: 0;
}

.Shinsuu{
    width: 50%;
}
.inputbox2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shin2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 20px;
}
.shin2 button{
    width: 50%;
}
.shin2 input{
    width: 75%;
}
.line{
    padding: 0;
    margin: 0;

}
.inputbox16{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shin16{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 20px;
}
.shin16 button{
    width: 50%;
}
.shin16 input{
    width: 70%;
}






footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    border-radius: 30px;
    position: absolute;
    translate: -50% -50%;
    bottom: 0;
    left:50%
}