header{
    display: flex;
    justify-content: center;
}
header h1{
    margin: 0;
    font-size: 30px;

}
main{
    background-color: pink;
}
.mainBox{
    padding: 5%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}
main input{
    width: 30%;
    height: 30px;
    font-size: 15px;
}
main select{
    width: auto;
    height: 30px;
    font-size: 15px;
}
.result h1{
    font-size: 50px;
    text-decoration: underline;
}